This notebook belongs to Chung Thế Thọ - 19127562

In [1]:
import requests
import requests_cache
from bs4 import BeautifulSoup
import time
import json
import re
import pandas as pd # Dùng để đọc và hiển thị file csv/tsv
from datetime import datetime, timedelta # Dùng để xử lý dữ liệu thời gian
# YOUR CODE HERE (OPTION) 
# Nếu cần các thư viện khác thì bạn có thể import ở đây

import urllib.robotparser # Kiểm tra file robot.txt có được phép crawl không

In [2]:
# Tạo dataframe lưu dữ liệu crawl
attrs = ['#', 'Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
         'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases',
         'Serious, Critical', 'Tot Cases/1M pop', 'Deaths/1M pop', 'Total Tests',
         'Tests/1M pop', 'Population', 'Region']
df = pd.DataFrame(columns = attrs)

In [3]:
# URL
url = 'https://www.worldometers.info/coronavirus/#countries'
    
r = requests.get(url)
html_text = r.text
    
# Parse HTML
tree = BeautifulSoup(html_text, 'html.parser')
        
# Tiến hành trích xuất dữ liệu
# chú thích id:
# main_table_countries_today: hôm nay
# main_table_countries_yesterday: hôm qua
# main_table_countries_yesterday2: hôm kia
table = tree.find('table', id='main_table_countries_yesterday2').find('tbody').find_all('tr')

In [4]:
for i in range(len(table)):
    row = [value.text.strip() for value in table[i] if value != '\n']
    df.loc[len(df)] = row[:16]

In [5]:
df.head(10)

,#,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population,Region
0,,Asia,"120,210,961","+662,895","1,358,458","+1,960","109,432,403","+347,496","9,420,100","31,211",,,,,,Asia
1,,North America,"95,311,722","+50,777","1,415,194",+931,"67,214,706","+188,769","26,681,822","12,328",,,,,,North America
2,,South America,"54,695,120","+88,994","1,262,482",+947,"48,861,714","+126,908","4,570,924","13,037",,,,,,South America
3,,Europe,"159,719,585","+580,492","1,722,836","+1,958","138,698,786","+796,600","19,297,963","13,579",,,,,,Europe
4,,Africa,"11,568,734","+5,577","250,060",+70,"10,696,009","+7,250","622,665","1,701",,,,,,Africa
5,,Oceania,"3,799,119","+42,614","8,022",+52,"3,356,545","+24,940","434,552",158,,,,,,Australia/Oceania
6,,,721,,15,,706,,0,0,,,,,,
7,,World,"445,305,962","+1,431,349","6,017,067","+5,918","378,260,869","+1,491,963","61,028,026","72,014","57,129",771.9,,,,All
8,1,China,"110,539",+281,"4,636",,"102,438",+120,"3,465",14,77,3,"160,000,000","111,163","1,439,323,776",Asia
9,2,USA,"80,927,735","+31,539","984,767",+510,"54,596,689","+165,814","25,346,279","6,320","242,112","2,946","956,472,945","2,861,484","334,257,677",North America

In [6]:
from datetime import datetime, timedelta
day_before_yesterday = datetime.today() - timedelta(days=2)

file_name = f"{day_before_yesterday.year}-{day_before_yesterday.month}-{day_before_yesterday.day}.csv"
file_name

'2022-3-6.csv'

In [7]:
df.to_csv(file_name, index=False)

In [8]:
test = pd.read_csv(file_name)
test.head(10)

,#,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population,Region
0,NaN,Asia,"120,210,961","+662,895","1,358,458","+1,960","109,432,403","+347,496","9,420,100","31,211",NaN,NaN,NaN,NaN,NaN,Asia
1,NaN,North America,"95,311,722","+50,777","1,415,194",+931,"67,214,706","+188,769","26,681,822","12,328",NaN,NaN,NaN,NaN,NaN,North America
2,NaN,South America,"54,695,120","+88,994","1,262,482",+947,"48,861,714","+126,908","4,570,924","13,037",NaN,NaN,NaN,NaN,NaN,South America
3,NaN,Europe,"159,719,585","+580,492","1,722,836","+1,958","138,698,786","+796,600","19,297,963","13,579",NaN,NaN,NaN,NaN,NaN,Europe
4,NaN,Africa,"11,568,734","+5,577","250,060",+70,"10,696,009","+7,250","622,665","1,701",NaN,NaN,NaN,NaN,NaN,Africa
5,NaN,Oceania,"3,799,119","+42,614","8,022",+52,"3,356,545","+24,940","434,552",158,NaN,NaN,NaN,NaN,NaN,Australia/Oceania
6,NaN,NaN,721,NaN,15,NaN,706,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,World,"445,305,962","+1,431,349","6,017,067","+5,918","378,260,869","+1,491,963","61,028,026","72,014","57,129",771.9,NaN,NaN,NaN,All
8,1.0,China,"110,539",+281,"4,636",NaN,"102,438",+120,"3,465",14,77,3,"160,000,000","111,163","1,439,323,776",Asia
9,2.0,USA,"80,927,735","+31,539","984,767",+510,"54,596,689","+165,814","25,346,279","6,320","242,112","2,946","956,472,945","2,861,484","334,257,677",North America